{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container p-4">
  <div class="row row-cols-1 row-cols-md-3">
    {% for map in maps %}
      <div class="col mb-4">
        <div class="card text-white bg-dark h-100" style="width: 18rem;">
          <img class="card-img-top" src="{{ map.thumbnail.url }}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{ map.name }}</p>
            <a href="{% url 'map_detail' map.id %}" class="btn btn-primary stretched-link">Go to map</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
